<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/static/css/styles.css"
/styles.css
">
</head>
<body>
    <nav>
        <img src="https://static.vecteezy.com/system/resources/previews/002/378/022/original/woman-face-logo-free-vector.jpg" alt="">
        <div class="navbar">
            <a href="/">Inicio</a>
            <a href="/catalogo">Tienda</a>
            <a href="#">Servicio</a>
            <a href="/contacto">Contacto</a>
            <a href="#">Más</a>
        </div>
    </nav>

    <section class="white">
    </section>

    <section class="home">
        <div class="container">
            <h1 class="titulo">Cristina MakeUps</h1>
            <p class="descripcion">Conoce nuestra nueva línea de maquillaje.</p>
            <button>Leer más</button>
        </div>
    </section>

    <section class="home2">
        <div class="container2">
            <h1 class="titulo2">Labiales que destacan</h1>
            <p class="descripcion2">Conoce nuestra nueva línea de labiales.</p>
            <button>Leer más</button>
        </div>
    </section>
</body>
</html>
